@import "jeet/index";

$primary-color: #303E4D;

.loading {
	@include align(direction=both);
}

.welcome {
	@include align(direction=both);
	text-align: center;


	.logoSvg {
		@include center(150px);
		img {
			width: 100%;
		}
	}

	.tagLine {
		text-align: center;
		font-weight: 100;
		font-size: 40px;
	}
}

.sidebar {
	@include column(1/5);
	position: absolute;
	height: 100%;
	background: $primary-color;
}

.appContent {
	@include column(4/5, $offset:1/5);
}