@import "jeet/index";

$primary-color: #303E4D;
$light-grey: lighten(#333333, 50%);

.loading {
	@include align(direction=both);
}

.welcome {
	@include align(direction=both);
	text-align: center;


	.logoSvg {
		@include center(150px);
		img {
			width: 100%;
		}
	}

	.tagLine {
		text-align: center;
		font-weight: 100;
		font-size: 40px;
	}
}

.sidebar {
	@include column(1/5);
	position: fixed;
	height: 100%;
	border-right: 1px solid lighten(#333333, 60%);
	.header {
		.logoSvg {
			@include center(50px);
			img {
				width: 100%;
			}
		}
		.heading {
			text-align: center;
			font-weight: 100;
		}
	}


	.channelContainer {
		padding: 0 10px;

		.channelList {
			.label {
				float: right;
			}
		}

		.addChannel {
			float: right;
		    margin-right: 1.6em;
		}
	}


	footer {
		text-align: center;
		position: absolute;
		width: 100%;
		padding: 1em;
		bottom: 0;
	}

}

.appContent {
	@include column(4/5, $offset:1/5);
	.centeredContainer {
		margin: 50px 50px 0px 10px;
	}

	.articleList {
		img {
			max-width: 100%;
			height: auto;
			margin-bottom: 1em;
		}

		.card .content .description{
			text-overflow: ellipsis;
		    height: 20.5em;
		    /* white-space: nowrap; */
		    overflow: hidden;
		}
	}
}