<template name="sidebar">
	<div class="sidebar">
		<div class="header">
			<div class="logoSvg">
				<img src="/logo.svg">
			</div>
		</div>
		<div class="ui divider"></div>


		

		<div class="channelContainer">
			
			<h4>
				Channels <button class="ui inverted supermini orange icon button circular addChannel js-addChannel"><i class="icon add"></i></button>
			</h4>


			<!-- This is where we'll list the channels the user is subscribed to -->
			<!-- The rendering will be done based on the template level subscription. Since this template will be common across the entire app, template-level subscription makes sense -->

			<!--<div class="ui middle aligned selection list channelList js-channelList">
				{{#if isUserSubscriptionsReady}}
					{{#each}}
				<div class="item">
					<div class="content">
						#{{}}
						<div class="ui orange horizontal circular tiny label">22</div>
					</div>
				</div>
				{{/if}}
			</div>-->

			
		</div>


		<footer>
			<div class="ui divider"></div>
			<button class="ui basic button tiny js-logout">Logout</button>
		</footer>

		
		<!-- Need to strategize how to move this form to a separate template and then render it -->
		<!-- For the time being let's just make do with this -->
		<div class="ui form modal small js-newFeed" >
			<i class="close icon"></i>
			<div class="header">
				Add new feed
			</div>
			<div class="content">
				<div class="description">
					<div class="field">
						<label>RSS URL</label>
						<input type="text" name="rssUrl" class="js-rssUrl" placeholder="URL">
					</div>
				</div>
			</div>
			<div class="actions">
				<button class="ui red basic deny button">
					<i class="remove icon"></i>
					Cancel
				</button>
				<button class="ui green basic ok button">
					<i class="checkmark icon"></i>
					Submit
				</button>
			</div>
		</div>
	</div>
</template>